<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mRCi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <mRCi.My.MySettings>
            <setting name="Loads" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Registered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Key1" serializeAs="String">
                <value>KGFVY-7733B-8WCK9-KTG64-BC7D8</value>
            </setting>
            <setting name="Key2" serializeAs="String">
                <value>VBWYT-BBWKV-P86YX-G642C-3C3D3</value>
            </setting>
            <setting name="Key3" serializeAs="String">
                <value>DQDV2-3TV93-3WW78-2CMV4-86QD3</value>
            </setting>
            <setting name="Key4" serializeAs="String">
                <value>RHMX7-M3T4C-2JF7R-VTDJV-KPBMB</value>
            </setting>
            <setting name="Key5" serializeAs="String">
                <value>H7G9G-HQ46M-BKFG7-MPFF4-TMVYD</value>
            </setting>
        </mRCi.My.MySettings>
    </userSettings>
</configuration>
